In [8]:
# gget functions
import main
import utils

# Packages for gget search
import pandas as pd
import mysql.connector as sql
import time

# Packages for ref
from bs4 import BeautifulSoup
import requests
import re
import numpy as np
import json

# Packages for use from terminal
import argparse
import sys
import os

In [1]:
from gget import ref, search, info

In [ ]:
from autocorrect import Speller
spell = Speller()

___

___

# Searching gene name as well as description 
Problems:
- where in core schema is display name?
- gene_attrib IDs differ beween species (should jsut be 0-5 according to schema, but zebra finch only 142 which is not gene name)

taeniopygia_guttata_core_105_12

In [70]:
db_connection = sql.connect(host='ensembldb.ensembl.org', 
                            database='taeniopygia_guttata_core_105_12', 
                            user='anonymous', 
                            password='')

In [71]:
# query = f"""
# SELECT gene.stable_id, gene.description, xref.description, gene.biotype
# FROM gene
# LEFT JOIN xref ON gene.display_xref_id = xref.xref_id
# WHERE (gene.description LIKE '%TP53%' OR xref.description LIKE '%TP53%')
# """

In [75]:
query = f"""
SELECT *
FROM gene_attrib 
LIMIT 10
"""

In [76]:
df_temp = pd.read_sql(query, con=db_connection)

In [77]:
df_temp

   gene_id  attrib_type_id  value
0    15394             142  68.96
1    21450             142  50.60
2    15940             142  58.98
3    13668             142  63.75
4    18885             142  37.07
5    16702             142  64.01
6    19336             142  36.44
7    19543             142  51.42
8    12960             142  57.07
9    17884             142  47.27